.app {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #58a6ff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-header {
  height: 3rem;
  display: flex;
  align-items: center;
}
.app-main {
  display: flex;
  flex-direction: column;
}

.post-link {
  margin-bottom: 1rem;
  border-radius: 5px;
  font-weight: 500;
}

a {
  color: #58a6ff;
  text-decoration: none;
}
a:hover {
  color: #32c8b2;
  text-decoration: none;
}

.header-span {
  font-family: "Electrolize", sans-serif;
  color: pink;
}
.header-span:hover {
  color: rgb(226, 58, 114);
}

.post-link-icon:hover {
  transform: rotate(20deg);
}

.text-div{
  font-size: 1.2rem;
}