.app {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #58a6ff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-header {
  border-bottom: 1px solid #58a6ff;
  display: flex;
  align-items: center;
}
.app-main {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.post-link {
  margin-bottom: 1rem;
  border: 1px solid #58a6ff;
  background-color: #0b1926;
  padding: 1rem;
  border-radius: 5px;
}

a {
  color: #58a6ff;
  text-decoration: none;
}
/* 
ul a {
  color: #92bf6f;
}
ul > li {
  padding-top: 10px;
} */

a:visited {
  /* color: #1c426d; */
}

.header-span {
  color: pink;
  font-weight: 300;
}
