.app {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr;
  justify-content: center;
  /* background-color: #282c34; */
  background-color: var(--bg-drak1);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--txt-blue);
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-header {
  height: 3rem;
  display: flex;
  align-items: center;
}
.app-main {
  display: flex;
  flex-direction: column;
}

.post-link {
  margin-bottom: 1rem;
  border-radius: 5px;
  font-weight: 500;
}

a {
  color: var(--txt-blue);
  text-decoration: none;
}
a:hover {
  color: var(--txt-green);
  text-decoration: none;
}

.header-span {
  font-family: "Electrolize", sans-serif;
  font-family: "Oxygen", sans-serif;
  /* color: pink; */
  color: var(--txt-green);
}
.header-span:hover {
  color: var(--txt-blue);
  /* letter-spacing: 2px; */
  /* font-weight: 700; */
  transition: color;
  transition-duration: 2s;
}

.post-link-icon:hover {
  transform: rotate(20deg);
}

.text-div {
  font-size: 1.2rem;
}
